.vscode/

*.class
*.log
*.lock

# Package Files #
*.jar
*.war
*.ear
target/

# idea
*.iml
.idea/

*velocity.log*

### STS ###
.apt_generated
.factorypath
.springBeans

### IntelliJ IDEA ###
*.iml
*.ipr
*.iws
.ide
.classpath
.project
.settings/
bin/

*.log
tmp/

#rebel
*rebel.xml*

