<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.DemandMapper">

    <resultMap id="BaseResultMap" type="generator.pojo.Demand">
            <id property="demandid" column="DemandID" jdbcType="INTEGER"/>
            <result property="demandtype" column="DemandType" jdbcType="OTHER"/>
            <result property="demandmsg" column="DemandMsg" jdbcType="VARCHAR"/>
            <result property="demanddate" column="DemandDate" jdbcType="TIMESTAMP"/>
            <result property="userid" column="UserID" jdbcType="INTEGER"/>
            <result property="staffid" column="StaffID" jdbcType="INTEGER"/>
            <result property="status" column="Status" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        DemandID,DemandType,DemandMsg,
        DemandDate,UserID,StaffID,
        Status
    </sql>
</mapper>
