<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axy.mapper.AnnouncementsMapper">

    <resultMap id="BaseResultMap" type="com.axy.pojo.Announcements">
            <id property="announcementid" column="AnnouncementID" jdbcType="INTEGER"/>
            <result property="title" column="Title" jdbcType="VARCHAR"/>
            <result property="content" column="Content" jdbcType="VARCHAR"/>
            <result property="publishdate" column="PublishDate" jdbcType="TIMESTAMP"/>
            <result property="attachment" column="Attachment" jdbcType="VARCHAR"/>
            <result property="userid" column="UserID" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        AnnouncementID,Title,Content,
        PublishDate,Attachment,UserID
    </sql>
</mapper>
