<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axy.mapper.ChangepasswordMapper">

    <resultMap id="BaseResultMap" type="com.axy.pojo.Changepassword">
            <id property="changepassid" column="changepassid" jdbcType="INTEGER"/>
            <result property="changephone" column="changephone" jdbcType="VARCHAR"/>
            <result property="newpassword" column="newpassword" jdbcType="VARCHAR"/>
            <result property="adaction" column="adaction" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        changepassid,changephone,newpassword,
        adaction
    </sql>
</mapper>
