<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axy.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.axy.pojo.Users">
            <id property="userid" column="UserID" jdbcType="INTEGER"/>
            <result property="username" column="UserName" jdbcType="VARCHAR"/>
            <result property="password" column="Password" jdbcType="VARCHAR"/>
            <result property="phonenumber" column="PhoneNumber" jdbcType="VARCHAR"/>
            <result property="email" column="Email" jdbcType="VARCHAR"/>
            <result property="address" column="Address" jdbcType="VARCHAR"/>
            <result property="role" column="Role" jdbcType="OTHER"/>
            <result property="createdat" column="CreatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        UserID,UserName,Password,
        PhoneNumber,Email,Address,
        Role,CreatedAt
    </sql>
    <select id="listAll" resultType="com.axy.pojo.Users">
        select * from users
    </select>
<!--    <select id="findbyid" resultType="String">-->
<!--        select password from users where userid = #{userid}-->
<!--    </select>-->
    <select id="findbyphonenumber" resultType="java.lang.String">
        select password from users where phonenumber = #{phonenumber}
    </select>
    <select id="existsphone" resultType="java.lang.Boolean">
        select * from users where phonenumber = #{phonenumber}
    </select>
    <select id="findrole" resultType="java.lang.String">
        select role from users where phonenumber = #{phonenumber}
    </select>
</mapper>
