<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axy.mapper.VehiclesMapper">

    <resultMap id="BaseResultMap" type="com.axy.pojo.Vehicles">
            <id property="vehicleid" column="VehicleID" jdbcType="INTEGER"/>
            <result property="userid" column="UserID" jdbcType="INTEGER"/>
            <result property="licenseplate" column="LicensePlate" jdbcType="VARCHAR"/>
            <result property="vehicletype" column="VehicleType" jdbcType="VARCHAR"/>
            <result property="registrationdate" column="RegistrationDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        VehicleID,UserID,LicensePlate,
        VehicleType,RegistrationDate
    </sql>
    <select id="listC" resultType="com.axy.pojo.Vehicles">
            select * from Vehicles where userid = #{userid}
    </select>
    <select id="findbyid" resultType="com.axy.pojo.Vehicles">
        select * from Vehicles where userid = #{userid}
    </select>



</mapper>
